{% extends 'AppAdminBundle:Shared:pane.html.twig' %}

{% block pane_title %}Pages{% endblock %}

{% block pane_control_top %}
	<button class="adm-btn adm-btn-success pull-right js-adm-nav-btn" data-url="{{ path('app.admin.page.list') }}">
		<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh
	</button>
	
	<button class="adm-btn adm-btn-primary pull-right js-adm-nav-btn" data-url="{{ path('app.admin.page.add') }}">
		<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add page
	</button>
{% endblock %}
	
{% block pane_body %}
	<div class="row">
		<div class="col-md-6">
			<table class="adm-table">
				<colgroup>
					<col width="1%" />
					<col width="9%" />
					<col width="50%" />
					<col width="40%" />
				</colgroup>
				
				<thead>
					<tr>
						<th></th>
						<th>ID</th>
						<th>Name</th>
						<th></th>
					</tr>
					
					<tr class="adm-table-ctrl-row">
						<th></th>
						<th></th>
						<th>
							<div class="input-group input-group-sm">
								<input class="form-control" type="text" />
								
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					{% for page in pages %}
					<tr class="adm-navigation-element js-adm-nav-btn" data-url="{{ path('app.admin.page', {page: page.id}) }}" data-target="adm_page_panel">
						<th class="adm-table-col-ctrl">
							<div class="adm-checkbox js-adm-checkbox">
								<span class="glyphicon glyphicon-ok"></span>
							</div>
						</th>
						<td>{{ page.id }}</td>
						<td>{{ page.name }}</td>
						<td>
							<div class="btn-group pull-right">
								<button class="btn btn-sm btn-default js-adm-nav-btn" data-url="{{ path('app.admin.page.show', {page: page.id}) }}">
									<span class="glyphicon glyphicon-eye-open"></span>
								</button>

								<button class="btn btn-sm btn-default js-adm-nav-btn" data-url="{{ path('app.admin.page.edit', {page: page.id}) }}">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-md-6" id="adm_page_panel">
			
		</div>
	</div>
{% endblock %}