{% spaceless %}
<nav class="adm-navigation">
	<ul class="adm-nav-panel">
		{% for element in navigation %}
			<li class="adm-nav-element adm-nav-element-lg">
				<button class="adm-nav-btn js-adm-side-btn" data-target="adm_sidenav_{{ element.id }}"
					{% if element.title is not null %} title="{{ element.title }}"{% endif %}>

					{% if element.icon is not null %}
						<span class="glyphicon glyphicon-{{ element.icon }}"></span>
					{% endif %}
				</button>
			</li>
		{% endfor %}
	</ul>
</nav>
{% endspaceless %}
			
{% for element in navigation %}
	{% if element.elements is not empty %}
		{% spaceless %}
			<nav class="adm-navigation js-adm-side-nav" id="adm_sidenav_{{ element.id }}" style="display: none;">
				<ul class="adm-nav-panel">
					{% for subelement in element.elements %}
						<li class="adm-nav-element">
							{% if subelement.route is null %}
								<button class="adm-nav-btn">
							{% else %}
								<button class="adm-nav-btn js-adm-nav-btn" data-url="{{ path(subelement.route) }}">
							{% endif %}
							
								{% if subelement.icon is not null %}
									<span class="glyphicon glyphicon-{{ subelement.icon }}"></span>&nbsp;
								{% endif %}

								{{ subelement.title }}
							</button>
						</li>
					{% endfor %}
				</ul>
			</nav>
		{% endspaceless %}
	{% endif %}
{% endfor %}