{% extends 'AppAdminBundle:Shared:pane.html.twig' %}

{% block pane_title %}Pages{% endblock %}

{% block pane_control_top %}
	<button class="adm-btn adm-btn-success pull-right js-adm-nav-btn" data-url="{{ path('app.admin.page.list') }}">
		<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh
	</button>
	
	<button class="adm-btn adm-btn-primary pull-right js-adm-nav-btn" data-url="{{ path('app.admin.page.add') }}">
		<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add page
	</button>
{% endblock %}
	
{% block pane_body %}
	<div class="row">
		<div class="col-md-6">
			<table class="table" data-url="{{ path('app.admin.page', {page: 'pageId'}) }}" id="adm_pages_list">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					{% for page in pages %}
					<tr class="adm-navigation-element js-adm-page-element" data-id="{{ page.id }}">
						<td>{{ page.id }}</td>
						<td>{{ page.name }}</td>
						<td>
							<div class="btn-group pull-right">
								<button class="btn btn-sm btn-default">
									<span class="glyphicon glyphicon-eye-open"></span>
								</button>

								<button class="btn btn-sm btn-default js-adm-nav-btn" data-url="{{ path('app.admin.page.edit', {page: page.id}) }}">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default" style="display: none;" id="adm_page_panel">
				<div class="panel-body" id="adm_page_panel_body">

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pane_after %}
<script>
	$(function() {
		var pagePanel     = $('#adm_page_panel');
		var pagePanelBody = pagePanel.find('#adm_page_panel_body');
		
		var pageUrl = $('#adm_pages_list').attr('data-url');
		
		$('.js-adm-page-element').click(function() {
			$.ajax({
				url: pageUrl.replace('pageId', $(this).attr('data-id')),
				
				success: function(response) {
					pagePanelBody.html(response);
					pagePanel.show();
				}
			});
		});
	});
</script>
{% endblock %}